@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 "Fjalla One", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/*HEADER*/

header {
  background-color: #82BFB6;
  text-align: center;
}

img.logo {
  width: 100px;
  margin: .5em auto;
}

img.logo:hover {
  opacity: .5;
  transition: opacity .35s;
  cursor: pointer;
}

ul.nav {
  padding: 0;
  margin: 0;
  text-align: center;
  display: none;
}

.nav-check:checked ~ ul.nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  position: absolute;
  top: 1.3em;
  left: .5em;
}

.nav-label img {
  display: block;
  width: 100%;
}

.nav-check {
  position: absolute;
  top: -3em;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
}

nav li {
    border-top: 1px solid white;
    padding: .3em;
}

.nav a:hover {
  color: #609A91;
  transition: color .35s;
}

nav li:hover {
  cursor: pointer;
  background-color: #609A91;
}

.banner-med {
  display: none;
}

.banner-large {
  display: none;
}

.banner-xl {
  display: none;
}

.value-prop-img {
  padding: 2em 1em;
}

.value-prop-large {
  display: none;
}

.by-melany {
  width: 50%;
  bottom: 29%;
  left: 50%;
  transform: translateX(-50%);
}

.banner-btn {
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  border: 2px solid white;
  border-radius: 3px;
  padding: .5em 1em;
}

.banner-btn:hover {
  transition: background-color .35s, color .35s;
  cursor: pointer;
  background-color: #82BFB6;
}

/*INTRODUCTION*/

.introduction {
  background-color: #82BFB6;
  margin: 2em 0;
}

.meet-melany {
  width: 200px;
}

.intro-text {
  font-family: "Playfair Display", serif;
  color: white;
}

.introduction a {
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  color: #fff;
  border: 2px #fff solid;
  display: inline-block;
  border-radius: 3px;
  margin-top: 1em;
  padding: .5em .7em;
}

.introduction a:hover {
  color: #609A91;
  border-color: #609A91;
  transition: border-color .35s, color .35s;
}


/*TOOLS*/

.cards {
  padding: 0;
}

.tools-icon {
  max-width: 75px;
  display: inline-block;
  float: left;
}

.cards li {
  list-style-type: none;
  border: 2px solid #82BFB6;
  border-radius: 5px;
  max-width: 300px;
  margin: .5em auto;
}

h3 {
  font-family:'Fjalla One', sans-serif;
  color: #95989A;
}

/*SERVICES*/

.services {
  background-color: #82BFB6;
  margin: 2em 0;
}

.services h2 {
  color: #fff;
}

.services-text {
  color: white;
  font-family: "Playfair Display", serif;
}

/*PRODUCTS*/

.products {
  margin: 2em 0;
}

.products h2 {
  color: #82BFB6;
}

.products li {
  background-color: #82BFB6;
  border-top: 1px white solid;
  padding: .3em 0;
}

.products a {
  color: white;
  text-decoration: none;
}

.products li:hover {
  background-color: #F76C4A;
  cursor: pointer;
  transition: background-color .35s;
}

/*SLIDESHOW*/

.slider {
	width: 300px;
	margin: 2em auto;
}

.slider-wrapper {
	width: 100%;
	height: 300px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .5s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

.products-text {
  display: none;
}

.products-btn {
  display: none;
}

/*FOOTER*/

footer {
  background-color: #82BFB6;
}

ul.social-media {
  list-style-type: none;
  padding: 0;
  padding-top: 2em;
  text-align: center;
}

.social-media li {
  display: inline-block;
  padding: 0 .5em;
}

img.sm-icon {
  float: left;
  width: 40px;
  margin: .5em;
}

img.sm-icon:hover {
  opacity: .5;
  transition: opacity .35s;
}

ul.btm-nav {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.btm-nav li {
  display: inline-block;
  padding: .1em;
}

.btm-nav a {
  color: white;
  text-decoration: none;
}

.btm-nav a:hover {
  color: #F76C4A;
}

p.copyright {
  color: white;
}

@media only screen and (min-width: 34em) {

  .banner-small {
    display: none;
  }

  .banner-med {
    display: inline-block;
  }

  .banner-large {
    display: none;
  }

  .value-prop-img {
    width: 85%;
  }

  .by-melany {
    bottom: 25%;
    width: 40%;
  }

  .banner-btn {
    font-size: 1.5em;
    bottom: 12%;
  }
}

@media only screen and (min-width: 38em) {

  ul.nav {
    display: inline-block;
  }

  .nav-label img {
    display: none;
  }

  nav li {
    display: inline-block;
    border: 0px;
    padding: 0 .5em;
  }

  nav li:hover {
    background-color: #82BFB6;
  }

  nav a:hover {
    color: #609A91;
  }

  .banner-med {
    display: none;
  }

  .banner-large {
    display: inline-block;
  }

  .value-prop-img {
    display: none;
  }

  .value-prop-large {
    display: inline-block;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    width: 90%;
  }

  .by-melany {
    width: 25%;
    bottom: 35%;
  }

  .banner-btn {
    font-size: 1em;
    bottom: 20%;
  }

  .products-wrapper {
    display: block;
    max-width: 600px;
    margin: 0 auto;
  }

  .slider-wrapper {
  	height: 275px;
  }

  .slider {
  	width: 275px;
  	margin: 1em 0;
    display: inline-block;
    vertical-align: middle;
  }

  .products-text {
    display: inline-block;
    font-family: "Playfair Display", serif;
    color: #82BFB6;
    max-width: 300px;
    vertical-align: middle;
    margin-left: 1em;
  }

  .products-text a {
    display: inline-block;
    color: #82BFB6;
    font-family: 'Fjalla One', sans-serif;
    border: 2px #82BFB6 solid;
    border-radius: 3px;
    margin-top: 1em;
    padding: .5em .7em;
  }

  .products-text a:hover {
    color: #F76C4A;
    border-color: #F76C4A;
    transition: border-color .35s, color .35s;
  }

  .social-media li {
    padding: 0 .5em;
  }

  .btm-nav li {
    padding: 0 .7em;
  }

  .btm-nav a {
    font-size: 1em;
  }
}

  @media only screen and (min-width: 60em) {

    nav li {
      padding: 0 1.7em;
    }

    .value-prop-large {
      top: 20%;
    }

    .banner-btn {
      font-size: 1.5em;
      bottom: 22%;
    }

    .cards li {
      padding: 1em;
      display: inline-block;
      margin: 0 1em;
      width: 250px;
    }

    .tools-icon {
      max-width: 100px;
      float: none;
    }

    h3 {
      margin-top: .5em;
    }

    .products-wrapper {
      max-width: 800px;
    }

    .slider-wrapper {
      height: 350px;
    }

    .slider {
      width: 350px;
    }

    .products-text {
      max-width: 350px;
    }

    .social-media li {
      padding: 0 1em;
    }

    .btm-nav li {
      padding: 1em;
    }

    .btm-nav a {
      font-size: 1em;
    }

    @media only screen and (min-width: 90em) {

    html {
      font-size: 130%;
    }

    .banner-large {
      display: none;
    }

    .banner-xl {
      display: inline-block;
    }

    .value-prop-large {
      top: 17%;
    }

    .by-melany {
      width: 18%;
      bottom: 33%;
    }

    .banner-btn {
      font-size: 1.5em;
      bottom: 20%;
    }

    .cards li {
      width: 350px;
    }

    .products-wrapper {
      max-width: 1100px;
    }

    .slider-wrapper {
      height: 500px;
    }

    .slider {
      width: 500px;
    }

    .products-text {
      max-width: 500px;
    }

-----------------------------
.products h2 {
  font-family:'Fjalla One', sans-serif;
  color: #82BFB6;
}

.products-list li {
  font-family:'Fjalla One', sans-serif;
  background-color: #82BFB6;
  padding: .3em;
  border-bottom: 1px solid white;
}

.products-list a {
  color: white;
  text-decoration: none;
}

.products-list li:hover {
  background-color: #F76C4A;
  cursor: pointer;
  transition: background-color .35s, color .35s;
}

ul.social-media {
  margin-bottom: .5em;
}

.btm-nav li {
  padding: 0 1em;
}



/*PORTFOLIO*/

h1 {
  color: #82BFB6;
}

figcaption {
  color: #F76C4A;
}
