:root {
  --color-primary: #29ceb3;
  --color-secondary: #383838;
  --color-secondary-light: #626262;
  --color-light-background: #f7f7f7;
  --color-border: #95989a;
  --font-primary: "Open Sans", arial, sans-serif;
}

html {
  font-family: var(--font-primary);
  font-weight: 300;
}

.nav-label {
  width: 2rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
  padding: 0;
}

.nav-label:focus {
  background-color: transparent;
  border-color: none;
}

.nav-label:hover {
  background-color: transparent;
}

.line {
  height: 4px;
  width: 100%;
  position: absolute;
  background-color: var(--color-primary);
  border-radius: 20px;
  transition: all .2s ease-in-out;
  left: 0;
}

.top {
  top: 0;
}

.middle {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
}

.nav-label-open .top {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.nav-label-open .bottom {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.nav-label-open .middle {
  transform: rotate(45deg);
  left: 50%;
  opacity: 0;
}

.menu {
  top: 3.29875rem;
  transition: height .275s ease-in-out;
  width: 100%;
  overflow: hidden;
  height: 0;
  position: absolute;
  left: 0;
  z-index: 100000;
  background-color:
}

.menu-active {
  height: 95vh;
}

nav li a {
  display: block;
  font-size: 2rem;
  border-bottom: 1px solid #fff;
  background-color: var(--color-primary);
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
}

nav li  a:hover {
  color: var(--color-primary);
  background-color: #fff;
}

.logo-big {
  display: none;
}

.sm-icon {
  fill: var(--color-primary);
  transition: fill .35s ease;
}

.sm-icon:hover {
  fill: var(--color-primary);
}

.white {
  color: #fff;
}

.blue {
  color: var(--color-primary);
}

.semibold {
  font-weight: 600;
}

strong {
  color: var(--color-primary);
}

.my-max-length {
  max-width: 25em;
  margin: 0 auto;
}

.work-max-length {
  max-width: 30em;
}

.border {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.border-bottom {
  border-bottom: 1px solid var(--color-border);
}

/* BUTTONS */

.btn {
  border: 1px solid var(--color-primary);
  font-weight: 400;
  color: white;
  padding: .5em 1.7em;
  transition: all .3s ease-in-out;
  font-size: .7rem;
}

.btn:hover {
  transform: scale(1.03);
}

.ghost-btn {
  color: var(--color-primary);
}

.ghost-btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.btn-white {
  border-color: #fff;
  background-color: #fff;
  color: var(--color-primary);
  transition: all .3s ease-in-out;
}

.btn-white:hover {
  opacity: .5;
}

/* ----------------------------------------- */

/* BANNER */

.banner {
  background: url("../images/banner-maybe.jpg") center center / cover no-repeat;
  height: 550px;
}

/* SERVICES */

.services h3 {
  color: var(--color-primary);
}

.portfolio-title {
  color: var(--color-primary);
}

.portfolio-text {
  color: var(--color-secondary);
}

.img-wrap {
  position: relative;
  transition: all .3s ease-in-out;
}

.img-wrap:hover {
  transform: scale(1.05);
}

.img-wrap a {
  text-decoration: none;
}

.img-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  color: var(--color-secondary);
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  padding: 2em 0;
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

/* ABOUT */
.about {
  background-color: #F8F8F8;
}

.contact {
  background-color: var(--color-primary);
}

.passion-projects h2 {
  color: var(--color-primary);
}

.french-link {
  color: var(--color-primary);
  font-weight: 600;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.text {
  white-space: nowrap;
  color: 000;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sm-icon {
  color: #D8D8D8;
  transition: color .3s ease-in-out;
}

.sm-icon:hover {
  color: var(--color-primary);
}

.social-list {
  margin: 0;
}

/* --------ABOUT---------- */

.taco-icon {
  transition: all .2s ease-in-out;
}

.taco-text {
  color: #fff;
}

.taco-icon:hover {
  transform: rotate(-20deg);
}

.taco-icon:hover  .taco-text {
  color: #000;
}



/* --------CONTACT---------- */

input,
textarea {
  border-bottom: 2px solid var(--color-primary);
  border-left: none;
  border-right: none;
  border-top: none;
}

select {
  background-color: blue;
}

form label {
  color: var(--color-primary);
  font-weight: 600;
}

.flag-optional {
  color: #999;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted {
  background-color: #c33;
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

/* --------BEER EXPO---------- */

.banner-width {
  max-width: 400px;
  margin: 0 auto;
}

/* --------PACKAGING---------- */
.pkge-legend {
  max-width: 250px;
}

.sw {
  color: var(--color-secondary);
  stroke: var(--color-secondary);
  fill: var(--color-secondary);
  transition: all .15s ease-in-out;
}

.sw-text {
  color: #fff;
}


.sw:hover {
  color: var(--color-primary);
  stroke: var(--color-primary);
  fill: var(--color-primary);
  transform: scale(1.1);
}

.sw:hover ~ .sw-text {
  color: var(--color-primary);
}

@media only screen and (min-width: 38em) {

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  nav li a {
    font-size: 1rem;
    padding: 0 1em;
    background-color: transparent;
    color: var(--color-primary);
  }

    .menu {
      left: auto;
      top: auto;
      height: auto;
      position: static;
      background-color: transparent;
      width: 100%;
      border-bottom: none;
      border-top: 1px solid var(--color-border);
      padding: .75rem;
    }

    .logo-big {
      display: inline-block;
      margin: 1em 0;
      max-width: 500px;
    }

    .sm-header,
    .slogan,
    .nav-label,
    .logo {
      display: none;
    }

    .nav-list {
      text-align: right;
    }

    .nav-link {
      display: inline-block;
      font-size: 1rem;
      border: none;
      margin: 0;
      padding: 0;
    }

    .logo-header {
      text-align: center;
    }
  }


@media only screen and (min-width: 60em) {

  nav a {
    display: block;
    background-color: #fff;
    color: var(--color-primary);
    border: none;
    padding: .5em .75em;
    font-size: 1rem;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
  }

  nav a:hover {
    background-color: var(--color-primary);
    color: #fff;
  }

  nav li {
    display: inline-block;
  }

  .nav-info {
    display: none;
  }

  nav {
    text-align: right;
  }

  .menu {
    width: 70%;
    position: static;
    background: #fff;
    display: inline-block;
    border: none;
    overflow: visible;
  }

  label.menu-icon {
    display: none;
  }

  #brand {
    display: inline-block;
    height: auto;
    width: 25%;
    padding-left: .5em;
  }
}
