@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.5 "brandon-grotesque", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
}

/*Header*/

.logo {
  width: 200px;
  margin: 0 auto;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

ul.nav {
  padding: 0;
  margin: 0;
  text-align: center;
  display: none;
}

.nav-check:checked ~ ul.nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  position: absolute;
  top: 1.7em;
  left: .5em;
}

.nav-label img {
  display: block;
  width: 100%;

}

.nav-check {
  position: absolute;
  top: -43em;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav li {
  border-top: 1px solid white;
  padding: .3em;
  background-color: #8DCCCC;
}

nav li:hover {
  cursor: pointer;
  background-color: #3E3E3E;
}

/*Banner*/

.banner {
  background: url("../images/banner-front.jpg") 70% center / cover no-repeat;
  height: 500px;
}

.banner-content {
  width: 90%;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.banner h2 {
  color: #8DCCCC;
  font-size: 1.8rem;
}

/*Introduction*/

.introduction h2 {
  font-size: 1.5em;
}

.introduction p {
  font-weight: 400;
  font-family:'Lato';
  font-size: .9em;
}

/*Services*/

section.services {
  background-color: #8dcccc;
}

.services h2 {
  font-size: 1.5em;
}

.services-icon {
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
  margin: 0 auto;
}

.services h3 {
  font-weight: 500;
}

.list-text {
  font-weight: 400;
  font-family:'Lato';
  font-size: .9em;
}

/*Projects*/

.projects h2 {
  font-size: 1.5em;
}

.img-wrap {
  position: relative;
}

.img-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 95%;
  background: rgba(123, 196, 196, 0.9);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility, .2s;
  font-weight: 600;
  cursor: pointer;
  padding: 1em;
}

.img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
}

.img-wrap:hover {
  transform: scale(1.05);
}

/*Weddings*/
.weddings h2 {
  font-size: 1.5em;
}

.wedding-banner {
  background: url("../images/wedding-banner.jpg") 70% center / cover no-repeat;
  height: 400px;
}

.wedding-content {
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.wedding-banner-large {
  display: none;
}

.weddings p {
  font-weight: 400;
  font-size: .9em;
  color: #434343;
}

/*PASSION PROJECTS*/

section.passion-projects {
  background-color: #8DCCCC;
}

/*SHOP*/

.shop h2 {
  font-size: 1.5em;
}

.shop p {
  font-weight: 400;
  font-size: .9em;
  color: #434343;
}

.shop-img {
  display: none;
}

/*CONTACT*/

input,
select,
textarea,
option {
  border: 1px  #8DCCCC solid;
}

label {
  color: #8DCCCC;
  font-size: .8em;
  font-family: "Lato", sans-serif;
}

/*Footer*/

footer {
  padding: 2em 0;
  background-color: #73C4C4;
  text-align: center;
}

img.sm-icon {
  width: 50px;
}

img.sm-icon:hover {
  transform: scale(1.2);
}

p.copyright {
  color: white;
}

/*----------SERVICES-----------*/

h3,
h4 {
  font-weight: 500;
}


/*----------WORK PAGE-----------*/
.insta-link {
  color: #8DCCCC;
}

/*----------NEWSLETTER-----------*/

.border-left {
  border-left: 1px solid #ccc;
}

.border-newsletter {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.newsletter-red {
  color: #c64a2e;
}

.details {
  font-style: italic;
}

.newsletter-info {
  border-right: 1px solid #ccc;
}

.title {
  border-bottom: 1px solid #ccc;
}
figcaption {
  font-style: italic;
  font-family: "Lato", sans-serif;
}

.newsletter-footer {
  background-color: #c64a2e;
}

/*----------LETTERING-----------*/



/*----------PASSION PROJECT PAGE-----------*/
.icons-diagram {
  max-width: 500px;
  margin: 0 auto;
}

@media only screen and (min-width: 38em) {

  .logo {
    width: 250px;
  }

  .banner-content {
    width: 56%;
  }

  h1 {
    padding: .5em 0;
  }

  .nav-group {
    padding-bottom: 1em;
  }

  nav {
    text-align: center;
    border-top: .5px solid #CCC;
    border-bottom: .5px solid #CCC;
  }

  ul.nav {
    display: inline-block;
    padding: .5em 0;
  }

  .nav-label img {
    display: none;
  }

  nav a {
    color: #3E3E3E;
    font-size: .8em;
  }

  nav li {
    display: inline-block;
    border: 0px;
    padding: 0 .5em;
    background-color: #fff;
  }

  nav li:hover {
    background-color: transparent;
  }

  nav a:hover {
    color: #8DCCCC;
  }

  .wedding-content {
    width: 50%;
  }

  .shop-img {
    display: inline-block;
    max-width: 500px;
  }

  .one {
    width: 49.5%;

    display: inline-block;
  }

  .two {
    padding-right: 1em;
  }

  .copyright {
    margin-bottom: 0;
  }

  .social-media li {
    padding: 0 .2em;
  }

  .btm-nav li {
    padding: 0 .7em;
  }

  .btm-nav a {
    font-size: 1em;
  }

  img.sm-icon {
    width: 50px;
  }

  /*-------------------NEWSLETTER----------*/

  .newsletter-info {
    text-align: right;
  }
}

@media only screen and (min-width: 60em) {

  html {
    line-height: 1.5;
    font-size: 120%;
  }

  .banner-content {
    width: 65%;
  }

  .banner h2 {
    font-size: 3.7rem;
    line-height: 1;
  }

  img.sm-icon {
    width: 60px;
  }

/*------------NEWSLETER----------------*/
